<div class="mb-3">
    <h4>Tarmoq jurnali paneli</h4>

    <div class="row">
        <div class="card">
            <div class="card-body px-1">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Tarmoq id</th>
                                <th>Ish yozuv</th>
                                <th>Materiallar yozuv</th>
                                <th>Sharh</th>
                                <th>Yaratilgan vaqt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < arr.length; i++) { %>
                            <tr>
                                <td scope="row"><%= arr[i].id %></td>
                                <td><%= arr[i].branch_id %></td>
                                <td><%= arr[i].works_notes %></td>
                                <td><%= arr[i].materials_notes %></td>
                                <td><%= arr[i].comments %></td>
                                <td><%= arr[i].created_dt %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <nav>
                    <ul class="pagination pagination-sm">
                        <% for(var i = 0; i < count; i++) { %>
                        <li class="page-item">
                            <a class="page-link <%= i == curr?'active':'' %>" href="?page=<%= i %>"><%= i + 1 %></a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
