<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="#">
            <span class="fs-5">
                <b style="color: #25a1f4">Smart</b>
                <b style="color: #f87474">Job</b>
            </span>
        </a>
    </div>

    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">Main Pages</li>
        <li class="sidebar-item">
            <a href="/employee" class="sidebar-link <%- page=='home'?'active':'' %>">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/employee/training" class="sidebar-link <%- page=='training'?'active':'' %>">
                <i class="fa-solid fa-shapes"></i>
                <span>Staff Training</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/employee/requests" class="sidebar-link <%- page=='requests'?'active':'' %>">
                <i class="fa-regular fa-hand"></i>
                <span>Requests</span>
            </a>
        </li>

        <li class="sidebar-header">Settings</li>
        <li class="sidebar-item">
            <a href="/employee/profile" class="sidebar-link <%- page=='profile'?'active':'' %>">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/employee/salary_history" class="sidebar-link <%- page=='salary_history'?'active':'' %>">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Salary History</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/employee/timesheets" class="sidebar-link <%- page=='timesheets'?'active':'' %>">
                <i class="fa-regular fa-calendar"></i>
                <span>Timesheets History</span>
            </a>
        </li>
    </ul>
    <!-- Sidebar Navigation Ends -->
    <div class="sidebar-footer">
        <a href="/logout" class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>
